
:root {
        /*colors*/
        --Cyan: hsl(179, 62%, 43%);
        --Bright-Yellow: hsl(71, 73%, 54%);
        --Light-Gray: hsl(204, 43%, 93%);
        --Grayish-Blue: hsl(217, 32%, 75%);
        --gray: #67ccd3;
        --font: 'Karla', sans-serif;
    }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background-color: var(--Light-Gray);
}
.container {
    display: flex;
    max-width: 650px;
    font: var(--font);
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: .6em;
    box-shadow: 0 0 .5em #2b2b2a39
}

.mid, .bottom {
    flex: 1 1 200px;
    width: 100%;
} 

.top{
    width: 100%;
    background-color: #ffffff;
}

section {
    padding: 2em;
}

.button{
    text-align: center;
    display: block;
    padding: 1em;
    background-color: var(--Bright-Yellow);
    text-decoration: none;
    border-radius: 0.5em;
    box-shadow: 0 2em 8em #1d1d167e;
    font-weight: 700;
}

.button:hover{
    background-color: #aeca2f;
    color: aliceblue;
}

.bottom {
    background-color:#49bebd ;
}

.bottom__header{
    color: #ffffff;
}

.bottom__list{
    list-style: none;
    
}
.bottom__list li{
    line-height: 1.2em;
  

}

@media screen and (max-width:650px){
    
    body {
        padding:3em 2em;
    }
    
}


    


